---
layout: base
title: Times New Roman
---

{% assign recentissue = site.issues | sort: 'date' | reverse | first %}

<p></p>

<h2>View our most recent issue, <a href="{{recentissue.url}}">{{ recentissue.title }}</a>:</h2>

    {% include issuepdforimage.html issue=recentissue %}

<hr>

<h2>Recent posts</h2>

{% for post in site.posts limit:5 %}
<div class="recentpost">
    <h2 class="articletitle"><a href="{{post.url}}">{{ post.title }}</a></h2>

    {% include articleinfo.html %}

    {{ post.excerpt | markdownify }}

    {% if forloop.last == false %}
    <hr>
    {% endif %}
</div>
{% endfor %}