body {
    background-color: black;
}

#content {
    background-color: white;
    margin: auto;
    min-width: 600px;
    width: 70%;
    padding: 50px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

table tr:first-child {
    background-color: lightgray;
}

table tr:nth-child(even){
    background-color: whitesmoke;
}

table tr:nth-child(odd){
    background-color: white;
}

#navbar {
    background-color: lightgray;
    list-style-type: none;
    overflow: hidden;
}

#navbar .navitem {
    float: left;
    text-align: center;
}

.navitem a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navitem-selected {
    background-color: black;
    color: white;
}

.navitem-selected a{
    color: white;
}