---
title: Staff
layout: base-mobile-title
---

{% assign eboard = site.staff | where: "group", "eboard" | sort: "positionnumber"  %}
{% assign others = site.staff | where: "group", "other" %}
{% assign founders = site.staff | where: "group", "founder" | sort: "position_number" %}
{% assign shady = site.staff | where: "group", "shady" | first %}

<h3 style="margin-bottom:30px">Meet Our Executive Board!</h3>
    
    {% for staff in eboard %}
        {% include staff_box.html staff=staff %}
    {% endfor %}
<hr />

<h3 class="other-staff-container" style="margin-bottom:30px">Meet Some Other People Who Sometimes Show Up!</h3>
    <div class="other-staff-faces-container">
    {% for staff in others %}
        {% include staff_box.html staff=staff %}
        <div class="spacer"></div>
    {% endfor %} 
    {% include staff_box.html staff=shady %}
    </div>
<hr />

<h3 class="other-staff-container">Meet Our Founders</h3>
    <div class="other-staff-faces-container">
    {% for staff in founders %}
        {% include staff_box.html staff=staff %}
        <div class="spacer"></div>
    {% endfor %} 
    </div>
    <p>Jesus Christ, why are they all men? What year is it? 1908??</p>
    <p>Excellent quetion. TNR was formed in this century, but it was
    formed almost entirely by Greg's roommates, whom he dragged to the
    first meeting. Thus, the embarrassing lack of women. Oh, and also
    cooties or whatever.</p>
