---
title: Staff
layout: base
---

{% assign eboard = site.staff | where: "group", "eboard" | sort: "positionnumber"  %}
{% assign others = site.staff | where: "group", "other" %}
{% assign founders = site.staff | where: "group", "founder" %}
{% assign shady = site.staff | where: "group", "shady" | first %}

<h3 style="margin-bottom:30px">Meet Our Executive Board!</h3>
    
    {% for staff in eboard %}
        {% include staff_box.html staff=staff %}
    {% endfor %}
<hr />

<h3 style="margin-bottom:30px">Meet Some Other People Who Sometimes Show Up!</h3>
    <div class="row">
    {% for staff in others %}
        {% include staff_box.html staff=staff %}
    {% endfor %} 
    {% include staff_box.html staff=shady %}
    </div>
<hr />

<h3 style="margin-bottom:30px">Meet Our Founders</h3>
    {% for staff in founders %}
        {% include staff_box.html staff=staff %}
    {% endfor %} 
