
{%- assign articles_in_issue = site.posts | where: "issue", include.issue.issuename | sort: "page" -%}
{%- assign num_articles = articles_in_issue | size -%}

{%- if num_articles > 0 -%}
<table>
    <tr>
        <th>Article</th>
        <th>Author</th>
        <th>Page</th>
    </tr>
    {% for post in articles_in_issue %}
    <tr>
        {% assign author = site.staff | where: "shortname", post.author | first %}
        <td>
            <a href="{{post.url}}">{{post.title}}</a>
        </td>
        <td>
            <a href="{{author.url}}">{{author.displayname}}</a>
        </td>
        <td>
            {{post.page}}
        </td>

    </tr>
    {% endfor %}

</table>
{%- endif -%}
