{% assign staff=include.staff %}

{% if staff.group == "eboard" %}
<div class="row">
{% endif %}
    <div class="col-lg-4">
        <img class="picture-list-profile-picture" src="{{ staff.image }}" />
        <h5 class="staff-display-name"><a href="{{ staff.url }}">{{ staff.displayname }}</a></h5>
        {% include staff_positions.html staff=staff %}
    </div>
    {% if staff.group == "eboard" %}
    <div class="col-lg-5">
        <h5>{{ staff.title }}</h5>
        <p>{{ staff.excerpt | markdownify }}</p>
    </div>
    {% endif %}
{% if staff.group == "eboard" %}
</div>
{% endif %}
