.issue-grid-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.issue-grid-picture-container {
    width: 300px;
    height: 388px;
    overflow: hidden;

    padding: 5px;
    filter: none;
    transition: 0.4s;
    @include respond-to(handheld-screens) {
        width: 200px;
        height: 259px;
    }
    @include respond-to(medium-screens) {
        width: 250px;
        height: 324px;
    }
}

.issue-detail-thumbnail-contents-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

%issue-detail-element {
    margin: 8px;
}

.issue-detail-contents{
    @extend %issue-detail-element;
    flex: 1 1 auto;
    table{
        width: 100%;
    }
}

.issue-detail-thumbnail{
    @extend %issue-detail-element;
    flex: .2 .2 300px;
    margin: 8px;
}
