@import "variables";
@mixin respond-to($media) {
    @if $media==handheld-screens {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    }
    @else if $media==medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
            @content;
        }
    }
    @else if $media==wide-screens {
        @media only screen and (min-width: $break-large) {
            @content;
        }
    }
}

body {
    background-color: #444;
}

#container {
    background-color: white;
}

#content {
    padding: 10px 50px 50px 50px;
}

.articletitle a:visited {
    color: black;
}

.articletitle a {
    text-decoration: none;
    color: black;
}

.articletitle {
    color: black;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

table tr:first-child {
    background-color: lightgray;
}

table tr:nth-child(even) {
    background-color: whitesmoke;
}

table tr:nth-child(odd) {
    background-color: white;
}

#navbar {
    background-color: #ddd;
    list-style-type: none;
    overflow: hidden;
}

#navbar .navitem:hover {
    background-color: #bbb;
}

#navbar .navitem {
    float: left;
    text-align: center;
}

#navbar .navitem-selected:hover {
    background-color: #444;
}

.navitem a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navitem-selected {
    background-color: black;
    color: white;
}

.navitem-selected a {
    color: white;
}

.picture {
    @include respond-to(handheld-screens) {
        margin: 8px auto;
        display: flex;
        justify-content: center;
    }
    @include respond-to(medium-screens) {
        float: left;
        margin-right: 16px;
    }
    @include respond-to(wide-screens) {
        float: left;
        margin-right: 16px;
    }
}

.description h3 {
    @include respond-to(handheld-screens) {
        text-align: center;
    }
}

.profilepicture {
    display: block;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

.issuepicture  {
    width: 400px;
    max-width: 70%;
}


.issuepdfcontainer{
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.issuepdf {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.picturelistitem {
    margin-bottom: 2em;
}

#issuelayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.issuecontainer {
    flex: 0 0 auto;
    position: relative;
    margin: 4px;
}

.issuegridpicture {
    width: 400px;
    filter: none;
    transition: 0.4s;
    @include respond-to(handheld-screens) {
        width: 200px;
    }
    @include respond-to(medium-screens) {
        width: 300px
    }
}

.issuecontainer:hover,
.issuecontainer:active {
    .issuegridpicture {
        filter: blur(4px) grayscale(0.7) brightness(0.7);
        transition: 0.4s;
    }
    .issueoverlay {
        visibility: visible;
        opacity: .8;
    }
    .taptarget {
        display: block;
    }
}
// The fake tap target makes it so that the link is only triggered when tapped a second time,
// but is clicked on hover the first time
   

.fulloverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.taptarget, .faketaptarget {
    @extend .fulloverlay;
    display: none;
}

.issueoverlay {
    @extend .fulloverlay;
    opacity: 0;
    color: white;
    text-align: center;
}

.issueoverlay h6 {
    margin-top: 20%;
    font-size: 30px;
}

.issueoverlay p {
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}

.embed-responsive-17by22 {
    padding-bottom: 129.41%;
}


.logo {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}