@import "lib";

.video-embed-container{
    @extend .full-width;
    position: relative;
    padding-top: 56%;
}

.video-embed{
    @extend .full-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-thumbnail{
    @extend .full-width;
}

.video-container{
    margin-bottom: 8px;
}

.video-categories{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: -16px;
}

.video-category{
    flex: 1 1 400px;
    margin: 16px;
}   

.video-category-end-filler{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0px;
}


